@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700');

html, body {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin: 0px;
}

.logo {
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;

    cursor: default;
    
    /* Prevent selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

}

#logo-wrapper {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.logo > .blue {
    color: rgb(0, 86, 226);
}


/*#wrapper {
    background-color: #d8d8d8;
    width: 616;
    margin: auto;
    padding: 8px;
    box-sizing: border-box;

    box-shadow: inset 5px 5px 2px gray;
}*/

#wrapper {
    min-width: 100px;
    max-width: 800px;

    margin: auto;

    margin-bottom: 50px;
}

#expression {
    width: 100%;

    font-family: 'Source Code Pro', monospace;
    font-size: 30px;

    border: 1px solid black;

    padding: 8px;
}

#expression:focus {
    border-color: rgb(0, 86, 226);
    box-shadow: none;
}

.below-box {
    display: none;

    margin-left: auto;
    margin-right: auto;

    margin-top: 10px;
    margin-bottom: 10px;

    min-width: 100px;
    max-width: 800px;

    border-radius: 10px;

    padding: 8px;

    font-family: 'Source Code Pro';

    font-size: 20px;
    color: white;
}

#errors {
    background-color: #ff5e5e;
}

#inputs {
    background-color: #516eff;

    overflow-x: auto;

    font-size: 30px;
}

#results {
    background-color: #49e55b;

    font-weight: bold;
    font-size: 30px;
    line-height: 30px;

    overflow-x: auto;
}

.matrix {
    position: relative;
    margin: 20px;
}

.matrix:before, .matrix:after {
    content: "";
    position: absolute;
    top: 0;
    border: 8px solid #000;
    width: 6px;
    bottom: 0;
}

.matrix:before {
    left: -6px;
    border-right: 0px;
}
.matrix:after {
    right: -6px;
    border-left: 0px;
}

.mresult {
    border-spacing: 10px;
}

.mresult td {
    padding: 0px;
    margin: 0px;

    font-weight: bold;
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;

    padding-left: 5px;
    padding-right: 5px;

    color: white;

    text-align: center;
}

.minput {
    border-spacing: 20px;
}

.minput td {
    padding: 0px;
    margin: 0px;

    font-weight: bold;

    text-align: center;
}

.minput-box {
    text-align: center;

    padding: 10px;

    font-size: 30px;
    line-height: 30px;

    font-family: 'Source Code Pro';
    font-weight: normal;

    min-width: 2em;
    display: inline-block;

    background-color: white;
    border: 1px solid black;
}

.minput-box:focus {
    outline: none;
}

footer {
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;

    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

footer a {
    color: black;
}

footer a:visited {
    color: black;
}